
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --text-color1: #fff;
  --text-color2: #333;
  --background-color1: #f4f4f4;
  --background-color2: #222;
  --background-color2-shade1:rgb(57, 57, 57);
  --background-color2-shade2:rgb(37, 37, 37);
   --background-color2-shade3:rgb(101, 101, 101);
  --padding-5: min(5px, 100%);
  --padding-10: min(10px, 100%);
  --padding-20: min(20px, 100%);
  --padding-30: min(30px, 100%);
  
  --fts-small: 0.7rem;
  --fts-1: 1rem;
  --fts-1a: 1.2rem;   
  --fts-1b: 1.5rem;


  --fts-2: 1.8rem;
   --fts-3: 2.8rem;
  

}

.flex1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


  

body {
 background: url(/image/matt-ridley-Lyl8RL7imrw-unsplash.jpg) no-repeat;
 background-size: cover;
 background-position: center;
 background-attachment: fixed;

}

.landing-page-con {
 
 
}


header {
  position: fixed;
  background: linear-gradient(to right, #ff6666, #ffcc66,#66cccc);
  left: 0;
  right: 0;
  height: 60px;
  color: white;
  padding: var(--padding-20);
  z-index: 100;
  border-bottom: 3px solid rgb(218, 68, 68);

}








.logo {
  font-size: var(--fts-2);
  font-weight: bold;
  font-style: italic;
  transition: 0.20s all; 
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.1);
  
}



.hamburger-button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  
}


.bar {
 background: var(--background-color1);
 
 height: 3px;
 border-radius: 20px;
 margin-bottom: 5px;
 transition: 0.15s all;

}

.one {
  width: 23px;
}
.two {
  width: 21px;
 
}

.three{
  width: 19px;
}

.bar:hover {
 opacity: 0.8;
}


ul {
 position: absolute;
 top: 50px;
 bottom: 0;
 right: 5px;
 left: 50%;
 height: 600px;
 background: var(--background-color2-shade1);
 border: none;
 outline: none;
 font-size: var(--fts-1a);
 border-radius: 5px;
 padding-top: var(--padding-10); 
 transition: 0.20s all;
 transform: translatex(100%);
 transform-origin: top right;
}



li {

  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background: transparent;
  width: 100%;
  padding: var(--padding-5) var(--padding-10);
  line-height: 2;
  border-bottom: 5px solid rgba(121, 115, 115, 0.128);
  border-radius: 5px;
}


li a {
  text-decoration: none;
  color: var(--text-color1);
  transition: 0.15s all;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: 0.20s all; 
}




li i {
  font-size: var(--fts-1a);
  
}

li a:hover , li:hover i {
  opacity: 0.8;
  transform: scaleX(1.1);
}


.loginbutton {
text-align: center;
}


ul button {
  background: var(--background-color1);
  color: var(--text-color2);
  border: none;
  outline: none;
  height: 50;
  font-size: var(--fts-1a);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s all;
  padding: var(--padding-10);
  margin-top: 30px;
  font-weight: 600;
  width:90%;
  
}

ul button:hover {
  opacity: 0.8;
}
main {
  padding-inline: var(--padding-20);
 padding-block: 20%;
 position: relative;
}


.page-desc h1 {
  font-size: var(--fts-2);
  transition: 0.30s all;
  animation: myHead 2s 1s  1 forwards;  
  transform: scaleX(0) translateX(-100%);
  text-align: center;
}

.motto {
  margin: 5px 0 50px 200px;
  transition: 0.30s all;
  animation: myHead 2s 3s  1 forwards;  
  transform: scaleX(0) translateX(-100%);
  font-style: italic;
}

.about-us {
   
  display: none;
  line-height: 1.5;
}

.about-p {
  margin-left: 20px;
}



.login-box {
text-align: center;
 display: none;
 background: transparent;
 margin-inline: auto;
 line-height: 2;
 border-radius: 10px;
 border: 3px solid rgba(255, 255, 255, .5);
 backdrop-filter: blur(20px);
 box-shadow: 0 0 30px rgba(0, 0 , 0, .5);
 padding: var(--padding-20);
 width: min(300px, 600px);
 transition: 0.20s all;
 cursor: pointer;
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  background: rgba(163, 156, 156, 0.437);
  border-bottom-left-radius: 25px;
  color: white;
}

.title {
  font-size: var(--fts-3);
  font-weight: 700;
  color: var(--text-color1)
}
form {
  margin-top: 20px;
}
.input-box {
  width: 100%;
  position: relative;
  
}
label {
  width: 100%;
  height: 50px;
  border-bottom: 4px solid rgb(202, 201, 201);
  margin-bottom: 10px;
  font-size: 1.5rem;
}

input {

  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  color: var(--text-color1);
  font-size: 1.5rem;
  transition: 0.15s all;
  padding: var(--padding-5);
  padding-right: 10px;
  
}

.input-box input::placeholder {
  color: var(--text-color1);
  font-size: 1.5rem;
  padding-inline: var(--padding-5);
}

.input-box input:hover {
  transform: scaleY(1.1);
}

.remember-forgot {
  color: var(--text-color1);
}

.remember input {
  width: initial;
  margin-right: 3px;
}

.account {
  color: var(--text-color1);

}

.forgot a, .account a {
  text-decoration: none;
  color: var(--text-color1);
}

.forgot a:hover, .account a:hover {
  text-decoration: underline;
}




.input-box i {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: var(--fts-2);
  color: var(--text-color1);


}

form .login-button {
  padding: var(--padding-5);
  width: 100%;
  background: var(--background-color1);
  color: var(--text-color2);
  font-size: var(--fts-1a);
  font-weight: 600;
  border-radius: 10px;
  margin-block: 20px;
  
}

form .login-button:hover {
  opacity: 0.8;
}

.services {
 margin-inline: auto;
 width: auto;
 height: auto;

}

.services img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.services p {
  text-align: center;
  font-style: italic;
}
footer {
  row-gap: 5px;
  background: var(--background-color2);padding: var(--padding-5);
  position: fixed;
   bottom: 0;
   right: 0;
   left: 0;
   transition: all 0.20s ease-in-out;
 
}

.footer-content {
  column-gap: 20px;
  padding-top: var(--padding-5);
 
}

.footer-content a {
   color: var(--text-color1);
   cursor: pointer;
   transition: 0.20s all;
  
}

.footer-content a:hover {
  transform: scale(1.2);
  color: rgb(179, 179, 179);
}

ion-icon {
     font-size: var(--fts-1b);
}

footer p {
  font-size: var(--fts-small);
  color: rgb(255, 255, 255);
 
}




@keyframes myHead {
  0% {
   transform: translateX(-30%);
    transform: scaleX(0);
  }

  20% {
     transform: translateX(-20%);
     
  }

  40% {
    transform: translateX(-10%);
     transform: scaleX(1);
  }
  50% {
     transform: translateX(-5%);
    transform: scaleX(1);
  }

  80% {
     transform: translateX(-2%);
     background-image: linear-gradient(45deg, #00bfff, #5c5c9e);
     background-size: cover;
     -webkit-background-clip: text;
     color: transparent;
    transform: scaleX(1.2);
     
  }

  100% {
    transform: translateX(4);
     background-image: linear-gradient(45deg, #ff00e6, #c70707, rgb(0, 255, 60));
     background-size: cover;
     -webkit-background-clip: text;
     color: transparent;
     
    transform: scaleX(1.2);
    
  }
}

@keyframes myImage {
  from {
    transform: scaleX();
  }

  to {
    transform: scale(1);
    transform-origin: left;
  }
 
}

@media(min-width: 30em) {
  body {
   
    max-width: initial;
    width: initial;
  }
  .logo{
    font-size: 3rem;
  }

  .page-desc h1 {
    font-size: 3rem;
  }
  p.motto {
    font-size: 2rem;
  }

  p {
    font-size: 2rem;
    color: green;
  }

  .hamburger {
    display: none;
  }

  ul {
  transform: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: initial;
  background-color: initial;
  height: initial;  
  margin-right: 90px;
  
  }

  ul li {
    display: initial
  }

  li .bx {
  display: none;
}
ul a {
  font-size: 1.8rem;
}

 ul button {
 
  font-size: 1.8rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s all;
  font-weight: 600;
  margin: initial;
  margin: 0 0 3px 25px;
  padding-block: 3px;
}


.landing-page {
  
  display: grid;  
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-template-rows: auto auto;
  align-items: center;
  padding-top:  100px;
  column-gap: 50px;
}

.services {
  transition: 0.20s all;
  animation: myImage 0.20s 0.1s  forwards;  
  transform: scaleX(0);
  transform-origin: right;
}
.services img {
  min-width: 600px;
  height: auto;
  border-radius: 20px;
}

ion-icon {
     font-size: 3.5rem;
}

footer p {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
 
}
.login-box {
  margin-top: -15%;
 width: min(600px, 800px);

 margin-inline: 50%;

}


}




.active {
  transform: scale(1);
  transform-origin: right;
}
.show {
  display: block;
}
.noshow {
  display: none;
}

.footer-glow {
  box-shadow: 0 0 10px rgba(255, 255, 255, .1) ;
  border-top: 2px solid  rgba(255, 255, 255, .2);
  transition: 0.20s all ease-in-out;
  background-color: rgb(84, 84, 84);
}